@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Supermercado+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=M+PLUS+Rounded+1c:wght@300&family=Supermercado+One&display=swap');

body{
    background-color: rgb(88, 231, 88);
}



*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: kdam thmor pro,sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 90px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 18px;
    font-size: 25px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 50px;
}


.brand img{
  width: 118px;


}
.container{
   
    min-height: 72vh;
    background-color: rgb(0, 0, 0);
    font-family: kdam thmor pro,sans-serif;
    display: flex;
    margin: 20px auto;
    width: 70%;
    border-radius: 10px;
    padding: 30px;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-position: fit;
    background-size: cover;
} 

.container h1{
    font-size: 50px;
    color: white;
}


.bottom{
    position: sticky;
    height: 130px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#myProgressBar{
    width: 160vh;
    cursor: pointer;
}

.fa-solid, .fas {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 40px;
}

.icons{
    margin-top: 14px;

}

.icons i{
cursor: pointer;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: rgb(0, 0, 0);
    color: white;
    width: 16%;
    margin: 12px 0;
   
    position: absolute;
    padding: 30px;
    margin: 90px 0;
    border-radius: 25px;
    justify-content: space-between;
    align-items: center;
}

.songItem img{

width: 140px;
border-radius: 50px;
}

.timestamp{
margin: 0 20px;

}

.timestamp i{
    cursor: pointer;
}

.songInfo{
 position: absolute;
 left: 10vw;
 font-family: "Font Awesome 6 Free";
 font-size: larger;
}


.songInfo img{
    opacity: 0;
    transition: ease-in;
}


.animated-background{
    background: linear-gradient(
        to right, #833ab4,
        #fd1d1d,  #fcb045); 
        background-size: 100vh;
    animation: animate-background 10s infinite ease-in-out;
}

